---
import img_user from '../assets/img/img_about.jpg';
---
  <h2 class="text-4xl font-bold mt-10 mb-10 container mx-auto bg-blue-100 dark:bg-gray-800 bg-clip-text text-transparent bg-gradient-to-r from-purple-600 to-pink-400"> <i class="bi bi-person-fill"></i> Sobre mí</h2>
    <section id="about" class="container mx-auto px-4 py-6 flex flex-col md:flex-row items-center md:items-center gap-10">

  <!-- Left Side: Image -->
  <div class="w-full md:w-4/12 flex justify-center md:justify-start">
    <div class="relative h-64 w-64 sm:h-80 sm:w-80 rounded-2xl overflow-hidden border-2 border-gray-300 dark:border-gray-700 shadow-lg">
      <img src={img_user.src} alt="Abraham Mellado Domene" class="w-full h-full object-cover" />
    </div>
  </div>

  <!-- Right Side: Text Content -->
  <div class="w-full md:w-8/12 flex flex-col justify-center">
    <div class="space-y-4 text-center md:text-left text-gray-800 dark:text-gray-300">
      <p class="text-base md:text-lg leading-relaxed">
        Apasionado de la informática desde los 10 años, orienté mi formación hacia el desarrollo web, completando mis estudios en Sistemas Microinformáticos y Redes (CFGM), posteriormente en Desarrollo de Aplicaciones Web (CFGS).
      </p>
      <p class="text-base md:text-lg leading-relaxed">
        Me encanta participar en proyectos reales donde he podido aplicar y seguir ampliando mis conocimientos. Me motiva construir soluciones mediante tecnología.
      </p>
      <p class="text-base md:text-lg leading-relaxed">
        Disfruto programar, aprender cada día y superar nuevos desafíos.
      </p>
    </div>
  </div>
</section>
