<section id="contact" class="container mx-auto px-4 py-5 flex flex-col items-start space-y-6 mt-10 mb-10" >
  <h2 class="text-4xl font-bold mb-10 bg-blue-100 dark:bg-gray-800 bg-clip-text text-transparent bg-gradient-to-r from-purple-600 to-pink-400 "> <i class="bi bi-envelope-fill"></i> Contacto</h2>

  </h2>

  <div class="flex flex-row justify-center items-center gap-6 mb-20 mt-10 flex-wrap" data-aos="fade-up">
    <!-- GitHub -->
    <a href="https://github.com/meydodev?tab=repositories" target="_blank" class="text-gray-700 dark:text-gray-300 hover:text-black dark:hover:text-white text-4xl sm:text-5xl md:text-6xl transition-transform transform hover:scale-110">
      <i class="bi bi-github"></i>
    </a>

    <!-- LinkedIn -->
    <a href="https://www.linkedin.com/in/abraham-mellado-065a24233" target="_blank" class="text-blue-600 hover:text-blue-800 text-4xl sm:text-5xl md:text-6xl transition-transform transform hover:scale-110">
      <i class="bi bi-linkedin"></i>
    </a>

    <!-- Facebook -->
    <a href="https://www.facebook.com/abraham.mellado.56" target="_blank" class="text-blue-400 hover:text-blue-600 text-4xl sm:text-5xl md:text-6xl transition-transform transform hover:scale-110">
      <i class="bi bi-facebook"></i>
    </a>

    <!-- Instagram -->
    <a href="https://www.instagram.com/meydo89/" target="_blank" class="text-pink-500 hover:text-pink-700 text-4xl sm:text-5xl md:text-6xl transition-transform transform hover:scale-110">
      <i class="bi bi-instagram"></i>
    </a>

    <!-- Email -->
    <a href="mailto:meydo89@gmail.com" class="text-red-500 hover:text-red-700 text-5xl sm:text-6xl md:text-7xl transition-transform transform hover:scale-110">
      <i class="bi bi-envelope-fill"></i>
    </a>
  </div>
</section>

