<section id="education" class="container mx-auto px-4 py-5 flex flex-col items-start space-y-6 ">
  <h2 class="text-4xl font-bold mt-10 mb-10 container mx-auto bg-blue-100 dark:bg-gray-800 bg-clip-text text-transparent bg-gradient-to-r from-purple-600 to-pink-400">
    <i class="bi-mortarboard-fill"></i> Formación
  </h2>
  <ol class="relative border-s border-gray-200 dark:border-gray-700" data-aos="fade-up">

    <li class="mb-10 ms-4">
      <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2024</time>
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Técnico Superior en Desarrollo de Aplicaciones Web (G.S)</h3>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">Prácticas F.C.T en AcccioSoft, desarrollando aplicaciones full stack con Angular y Express.js.</p>
    </li>

    <li class="mb-10 ms-4">
      <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2021 - 2022</time>
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Técnico en Sistemas Microinformáticos y Redes (G.M)</h3>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">Prácticas F.C.T en Altec Informática.</p>
    </li>

    <li class="mb-10 ms-4">
      <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Certificación</time>
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Cisco CCNAv7</h3>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">Cisco</p>
    </li>

    <li class="mb-10 ms-4">
      <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Curso</time>
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Fundamentos de Redes (Certificación MTA)</h3>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">OpenWebinars</p>
    </li>

    <li class="mb-10 ms-4">
      <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Curso</time>
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Servidor Web Apache 2.4</h3>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">OpenWebinars</p>
    </li>

    <li class="mb-10 ms-4">
      <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Curso</time>
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Herramientas Ofimáticas</h3>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">Academia Inter C.E.A</p>
    </li>

  </ol>
</section>
